body {
  margin: 0;
  padding: 0;
  font-family: "arial" serif;

}

.nav {
  background-color: silver;
  color: white;
  margin: 0 1 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 0 auto;
  
}
.nav > li {
  justify-content: center;
  margin: 1 0rem;

}
.nav > li > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;

}
.nav > li > a:hover {
  color: purple;
  background: white;

}
.LOGO {
  flex: 0 1 auto;
  text-align: center;
  display: flex;

}
